* {
  margin: 0;
  padding: 0;
}
section #check {
  //display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section #check + label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: white;
  box-shadow: 0 0 1.5vh #777, inset 0 0 1.5vh #777;
  border-radius: 2.4vh;
  border: 0.8vh solid white;
  transition: all 0.2s ease;
}
section #check:checked + label {
  
}
section #check + label > div:nth-child(1) {
  width: 40%;
  height: 10%;
  background: blue;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(5%, -270%) rotate(45deg);
  border-radius: 0.64vh;
  display: none;
  transition: all 0.1s linear;
}
section #check + label > div:nth-child(2) {
  width: 90%;
  height: 10%;
  background: blue;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(6.5%, 450%) rotate(-45deg);
  border-radius: 0.64vh;
  display: none;
  transition: all 0.1s linear;
}
section #check:checked + label > div:nth-child(1), section #check:checked + label > div:nth-child(2) {
  display: block;
}
section #check:focus + label {
  box-shadow: 0 0 2.4vh #777, inset 0 0 2.4vh #ddd;
  background: black;
}
section #check:focus + label > div:nth-child(1) {
  background: rgb(255, 255, 0);
}
section #check:focus + label > div:nth-child(2) {
  background: rgb(255, 255, 0);
}
